{# @prop disabled boolean Whether or not to disable the combobox. #}
{# @prop invalid boolean Whether the combobox has a validation error. #}
{# @prop anchor string Where to position the combobox dropdown. #}
{# @prop defaultValue string The initial value for the combobox. #}
{# @prop ariaLabel string An accessible label for the combobox input. #}
{# @prop placeholder string The text to show when no option is selected. #}
{# @block content The `Combobox:Option` elements. #}
{%- props disabled = false, invalid = false, anchor = 'bottom', defaultValue = '', ariaLabel = '', placeholder = '' -%}
{%- set _field_disabled = inject('field.disabled', false) -%}
{%- set disabled = disabled or _field_disabled -%}
<span
    data-slot="control"
    class="{{ html_classes(
        attributes.render('class') ?? '',
        # Basic layout
        'relative block w-full',
        # Background color + shadow applied to inset pseudo element, so shadow blends with border in light mode
        'before:absolute before:inset-px before:rounded-[calc(var(--radius-lg)-1px)] before:bg-white before:shadow-sm',
        # Background color is moved to control and shadow is removed in dark mode so hide `before` pseudo
        'dark:before:hidden',
        # Focus ring
        'after:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:ring-transparent after:ring-inset sm:focus-within:after:ring-2 sm:focus-within:after:ring-blue-500',
        # Disabled state
        'has-data-disabled:opacity-50 has-data-disabled:before:bg-zinc-950/5 has-data-disabled:before:shadow-none',
        # Invalid state
        'has-aria-invalid:before:shadow-red-500/10',
    ) }}"
>
    <el-autocomplete>
        <input
            {% if disabled %}disabled data-disabled{% endif %}
            {% if invalid %}aria-invalid="true"{% endif %}
            {% if ariaLabel is not empty %}aria-label="{{ ariaLabel }}"{% endif %}
            {% if placeholder is not empty %}placeholder="{{ placeholder }}"{% endif %}
            {% if defaultValue is not empty %}value="{{ defaultValue }}"{% endif %}
            class="{{ html_classes(
                attributes.render('class') ?? '',
                # Basic layout
                'relative block w-full appearance-none rounded-lg py-[calc(--spacing(2.5)-1px)] sm:py-[calc(--spacing(1.5)-1px)]',
                # Horizontal padding
                'pr-[calc(--spacing(10)-1px)] pl-[calc(--spacing(3.5)-1px)] sm:pr-[calc(--spacing(9)-1px)] sm:pl-[calc(--spacing(3)-1px)]',
                # Typography
                'text-base/6 text-zinc-950 placeholder:text-zinc-500 sm:text-sm/6 dark:text-white',
                # Border
                'border border-zinc-950/10 hover:border-zinc-950/20 dark:border-white/10 dark:hover:border-white/20',
                # Background color
                'bg-transparent dark:bg-white/5',
                # Hide default focus styles
                'focus:outline-hidden',
                # Invalid state
                'aria-invalid:border-red-500 aria-invalid:hover:border-red-500 dark:aria-invalid:border-red-500 dark:aria-invalid:hover:border-red-500',
                # Disabled state
                'data-disabled:border-zinc-950/20 dark:data-disabled:border-white/15 dark:data-disabled:bg-white/2.5 dark:hover:data-disabled:border-white/15',
                # System icons
                'dark:scheme-dark',
            ) }}"
        />
        <button
            {% if disabled %}disabled data-disabled{% endif %}
            type="button"
            class="group absolute inset-y-0 right-0 flex items-center px-2"
        >
            <svg class="size-5 stroke-zinc-500 group-data-disabled:stroke-zinc-600 group-not-data-disabled:group-hover:stroke-zinc-700 sm:size-4 dark:stroke-zinc-400 dark:group-not-data-disabled:group-hover:stroke-zinc-300 forced-colors:stroke-[CanvasText]" viewBox="0 0 16 16" aria-hidden="true" fill="none">
                <path d="M5.75 10.75L8 13L10.25 10.75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M10.25 5.25L8 3L5.75 5.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        <el-options
            anchor="{{ anchor }}"
            popover
            class="{{ html_classes(
                'max-h-60 w-(--button-width)',
                # Anchor positioning
                '[--anchor-gap:--spacing(2)] [--anchor-padding:--spacing(4)] sm:[&[anchor~=start]]:[--anchor-offset:-4px]',
                # Base styles
                'isolate min-w-[calc(var(--input-width)+8px)] scroll-py-1 rounded-xl p-1 select-none empty:invisible',
                # Invisible border that is only visible in `forced-colors` mode for accessibility purposes
                'outline outline-transparent focus:outline-hidden',
                # Handle scrolling when menu won't fit in viewport
                'overflow-auto overscroll-contain',
                # Popover background
                'bg-white/75 backdrop-blur-xl dark:bg-zinc-800/75',
                # Shadows
                'shadow-lg ring-1 ring-zinc-950/10 dark:ring-white/10 dark:ring-inset',
                # Transitions
                'transition-discrete transition-opacity data-leave:transition duration-100 ease-in data-closed:data-leave:opacity-0 data-transition:pointer-events-none',
            ) }}"
        >
            {%- block content %}{% endblock -%}
        </el-options>
    </el-autocomplete>
</span>