{# @prop id string Unique identifier used to generate internal Dialog IDs. #}
{# @prop size 'xs'|'sm'|'md'|'lg'|'xl'|'2xl'|'3xl'|'4xl'|'5xl' The max-width of the dialog. #}
{# @prop open boolean Whether the dialog is open or not. #}
{# @block button The element that opens the dialog (spread `dialog_button_attrs` onto it). #}
{# @block content The dialog structure, typically includes `Dialog:Title`, `Dialog:Description`, `Dialog:Body` and `Dialog:Actions`. #}
{%- props id, size = 'lg', open = false -%}
{%- set style = html_cva(
    base: [
        'row-start-2 w-full min-w-0 rounded-t-3xl bg-white p-(--gutter) shadow-lg ring-1 ring-zinc-950/10 [--gutter:--spacing(8)] sm:mb-auto sm:rounded-2xl dark:bg-zinc-900 dark:ring-white/10 forced-colors:outline',
        'transition duration-100 will-change-transform data-closed:translate-y-12 data-closed:opacity-0 data-enter:ease-out data-leave:ease-in sm:data-closed:translate-y-0 sm:data-closed:data-enter:scale-95',
    ],
    variants: {
        size: {
            'xs': 'sm:max-w-xs',
            'sm': 'sm:max-w-sm',
            'md': 'sm:max-w-md',
            'lg': 'sm:max-w-lg',
            'xl': 'sm:max-w-xl',
            '2xl': 'sm:max-w-2xl',
            '3xl': 'sm:max-w-3xl',
            '4xl': 'sm:max-w-4xl',
            '5xl': 'sm:max-w-5xl',
        },
    },
) -%}

{%- set _dialog_id = 'dialog-' ~ id -%}
{%- set _dialog_titleId = _dialog_id ~ '-title' -%}
{%- set _dialog_descriptionId = _dialog_id ~ '-description' -%}
{%- do provide('dialog.titleId', _dialog_titleId) -%}
{%- do provide('dialog.descriptionId', _dialog_descriptionId) -%}
{%- set dialog_button_attrs = {
    command: 'show-modal',
    commandfor: _dialog_id,
} -%}
{%- set dialog_close_attrs = {
    command: 'close',
    commandfor: _dialog_id,
} -%}
{%- block button %}{% endblock -%}
<el-dialog {% if open %}open{% endif %}>
    <dialog
        id="{{ _dialog_id }}"
        aria-labelledby="{{ _dialog_titleId }}"
        aria-describedby="{{ _dialog_descriptionId }}"
        class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent"
        {{ attributes.without('class') }}
    >
        <el-dialog-backdrop class="fixed inset-0 flex w-screen justify-center overflow-y-auto bg-zinc-950/15 px-2 py-2 transition duration-100 focus:outline-0 data-closed:opacity-0 data-enter:ease-out data-leave:ease-in sm:px-6 sm:py-8 lg:px-8 lg:py-16 dark:bg-zinc-950/50"></el-dialog-backdrop>
        <div tabindex="0" class="grid min-h-full grid-rows-[1fr_auto] justify-items-center focus:outline-none sm:grid-rows-[1fr_auto_3fr] sm:p-4">
            <el-dialog-panel class="{{ style.apply({size}, attributes.render('class')) }}">
                {%- block content %}{% endblock -%}
            </el-dialog-panel>
        </div>
    </dialog>
</el-dialog>
