{# @prop disabled boolean Whether or not to disable the listbox. #}
{# @prop invalid boolean Whether or not the listbox has a validation error. #}
{# @prop name string The name to use when submitting an HTML form. #}
{# @prop anchor string Where to position the listbox dropdown. #}
{# @prop defaultValue string The initial value for the listbox. #}
{# @prop placeholder string The text to show when no option is selected. #}
{# @block content The `Listbox:Option` elements. #}
{%- props disabled = false, invalid = false, name = '', anchor = 'bottom', defaultValue = '', ariaLabel = '', placeholder = '' -%}
{%- set _fieldsetField_disabled = inject('fieldsetField.disabled', false) -%}
{%- set disabled = disabled or _fieldsetField_disabled -%}
<el-select data-slot="control" class="block" value="{{ defaultValue }}" {% if name is not empty %}name="{{ name }}"{% endif %}>
    <button
        {% if disabled %}disabled data-disabled{% endif %}
        {% if invalid %}aria-invalid="true"{% endif %}
        {% if ariaLabel is not empty %}aria-label="{{ ariaLabel }}"{% endif %}
        type="button"
        class="{{ html_classes(
            attributes.render('class') ?? '',
            # Basic layout
            'group relative block w-full',
            # Background color + shadow applied to inset pseudo element, so shadow blends with border in light mode
            'before:absolute before:inset-px before:rounded-[calc(var(--radius-lg)-1px)] before:bg-white before:shadow-sm',
            # Background color is moved to control and shadow is removed in dark mode so hide `before` pseudo
            'dark:before:hidden',
            # Hide default focus styles
            'focus-visible:outline-hidden',
            # Focus ring
            'after:pointer-events-none after:absolute after:inset-0 after:rounded-lg after:ring-transparent after:ring-inset focus-visible:after:ring-2 focus-visible:after:ring-blue-500',
            # Disabled state
            'data-disabled:opacity-50 data-disabled:before:bg-zinc-950/5 data-disabled:before:shadow-none',
        ) }}"
    >
        <el-selectedcontent class="{{ html_classes(
             # Basic layout
            'relative block w-full appearance-none rounded-lg py-[calc(--spacing(2.5)-1px)] sm:py-[calc(--spacing(1.5)-1px)]',
            # Set minimum height for when no value is selected
            'min-h-11 sm:min-h-9',
            # Horizontal padding
            'pr-[calc(--spacing(7)-1px)] pl-[calc(--spacing(3.5)-1px)] sm:pl-[calc(--spacing(3)-1px)]',
            # Typography
            'text-left text-base/6 text-zinc-950 placeholder:text-zinc-500 sm:text-sm/6 dark:text-white forced-colors:text-[CanvasText]',
            # Border
            'border border-zinc-950/10 group-active:border-zinc-950/20 group-hover:border-zinc-950/20 dark:border-white/10 dark:group-active:border-white/20 dark:group-hover:border-white/20',
            # Background color
            'bg-transparent dark:bg-white/5',
            # Invalid state
            'group-aria-invalid:border-red-500 group-hover:group-aria-invalid:border-red-500 dark:group-aria-invalid:border-red-500 dark:group-hover:group-aria-invalid:border-red-500',
            # Disabled state
            'group-data-disabled:border-zinc-950/20 group-data-disabled:opacity-100 dark:group-data-disabled:border-white/15 dark:group-data-disabled:bg-white/2.5 dark:group-data-disabled:hover:border-white/15',
        ) }}">
            {%- if placeholder -%}
                <span class="block truncate text-zinc-500">{{ placeholder }}</span>
            {%- endif -%}
        </el-selectedcontent>
        <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
            <svg class="size-5 stroke-zinc-500 group-data-disabled:stroke-zinc-600 sm:size-4 dark:stroke-zinc-400 forced-colors:stroke-[CanvasText]" viewBox="0 0 16 16" aria-hidden="true" fill="none">
                <path d="M5.75 10.75L8 13L10.25 10.75" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M10.25 5.25L8 3L5.75 5.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </span>
    </button>
    <el-options
        anchor="{{ anchor }}"
        popover
        class="{{ html_classes(
            'max-h-60',
            # Anchor positioning
            '[--anchor-gap:--spacing(2)] [--anchor-padding:--spacing(4)] sm:[&[anchor~=start]]:[--anchor-offset:-4px]',
            # Base styles
            'isolate min-w-[calc(var(--button-width)+8px)] scroll-py-1 rounded-xl p-1 select-none',
            # Invisible border that is only visible in `forced-colors` mode for accessibility purposes
            'outline outline-transparent focus:outline-hidden',
            # Handle scrolling when menu won't fit in viewport
            'overflow-auto overscroll-contain',
            # Popover background
            'bg-white/75 backdrop-blur-xl dark:bg-zinc-800/75',
            # Shadows
            'shadow-lg ring-1 ring-zinc-950/10 dark:ring-white/10 dark:ring-inset',
            # Transitions
            'transition-discrete transition-opacity duration-100 ease-in data-closed:data-leave:opacity-0 data-transition:pointer-events-none'
        ) }}"
    >
        {%- block content %}{% endblock -%}
    </el-options>
</el-select>
