{# @prop href string|null URL to link to. Renders as `<a>` when set, otherwise a `<button>`. Defaults to `null` #}
{# @prop current boolean Whether this is the current navigation item. Defaults to `false` #}
{# @block content The item label and/or icon #}
{%- props href = null, current = false -%}
{%- set element = href ? 'a' : 'button' -%}

{%- set _classes = 'relative flex min-w-0 items-center gap-3 rounded-lg p-2 text-left text-base/6 font-medium text-zinc-950 sm:text-sm/5 *:data-[slot=icon]:size-6 *:data-[slot=icon]:shrink-0 *:data-[slot=icon]:fill-zinc-500 sm:*:data-[slot=icon]:size-5 *:not-nth-2:last:data-[slot=icon]:ml-auto *:not-nth-2:last:data-[slot=icon]:size-5 sm:*:not-nth-2:last:data-[slot=icon]:size-4 *:data-[slot=avatar]:-m-0.5 *:data-[slot=avatar]:size-7 *:data-[slot=avatar]:[--avatar-radius:var(--radius-md)] sm:*:data-[slot=avatar]:size-6 hover:bg-zinc-950/5 hover:*:data-[slot=icon]:fill-zinc-950 active:bg-zinc-950/5 active:*:data-[slot=icon]:fill-zinc-950 dark:text-white dark:*:data-[slot=icon]:fill-zinc-400 dark:hover:bg-white/5 dark:hover:*:data-[slot=icon]:fill-white dark:active:bg-white/5 dark:active:*:data-[slot=icon]:fill-white' -%}

<span class="{{ ('relative ' ~ attributes.render('class'))|trim }}">
    {%- if current %}<span class="absolute inset-x-2 -bottom-2.5 h-0.5 rounded-full bg-zinc-950 dark:bg-white"></span>{% endif -%}
    <{{ element }}
        class="{{ _classes ~ (not href ? ' cursor-default' : '') }}"
        {{ attributes.defaults((href ? {href: href} : {type: 'button'})|merge(current ? {'data-current': 'true'} : {})) }}
    >
        <span class="absolute top-1/2 left-1/2 size-[max(100%,2.75rem)] -translate-x-1/2 -translate-y-1/2 pointer-fine:hidden" aria-hidden="true"></span>
        {%- block content %}{% endblock -%}
    </{{ element }}>
</span>
